@use '../globals/' as *;

.partners {
  margin-inline: auto;
  text-align: center;

  .title {
    margin-bottom: 8rem;
  }

  @include media-query("lg") {
    width: min(92vw, 120rem);
    text-align: start;
  }

  &__imgs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8rem;

    @include media-query("lg") {
      flex-direction: row;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
  }
}